[submodule "framework/PHPMailer"]
	path = framework/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "framework/PhpSpreadsheet"]
	path = framework/PhpSpreadsheet
	url = https://github.com/PHPOffice/PhpSpreadsheet.git
