[submodule "framework/PHPMailer"]
	path = framework/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "PimpMyPaids/framework"]
	path = PimpMyPaids/framework
	url = https://github.com/PHPOffice/PhpSpreadsheet.git
