/* hauteur de la page */
.container-cols-espace-admin, .espace-admin-section {
    min-height: calc(100vh - 193px - 90px);
    margin-bottom: 1%;
}


.adminnews {
    width: 100%;
}

.ajout {
    background-color: var(--lightBlueMunsell)!important;
}

.delete {
    background-color: var(--xanthous)!important;
}

.accordion-item {
    border-radius: 10px!important;
}

.bg-success-custom {
    background-color: #198754!important;
    color: #0a3622!important;
}

.bg-warning-custom {
    background-color: #fd7e14!important;
    color: #664d03!important;
}