/* Réinitialisation des styles de base */
.login-section, .container-cols-login {
    min-height: 100vh;
}

.col-login {
    background-color: rgba(0, 111, 149, .9);
    color: var(--floralWhite);
}

.stay-connected-checkbox:checked {
    background-color: var(--rasisinBlack) !important;
    border: 0;
}

.stay-connected-checkbox:focus, .label-stay-connected::after, .label-stay-connected:focus, .stay-connected-checkbox::after, .stay-connected-checkbox:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem var(--cerulean) !important;
}

#submit-button[disabled] {
    background-color: #454545;
    cursor: not-allowed;
}

#submit-button:not([disabled]) {
    background-color: var(--rasisinBlack);
}

/* Styles pour les conditions du mot de passe et de l'email */
#password-conditions, #email-condition {
    font-size: 14px;
    color: gray;
    text-align: left;
}

#password-conditions ul {
    padding-left: 0;
}

#password-conditions li, #email-condition {
    list-style: none;
    margin-bottom: 5px;
    text-align: left;
}

#email-condition.valid {
    color: rgb(0, 96, 221);
}

#password-conditions li.valid {
    color: rgb(0, 96, 221);
}

.required {
    color : rgb(228, 16, 16);
    font-size: 18px;
}

.correct {
    border: 1px solid #479400;
}