.danger {
    background-color: rgb(255, 170, 170)!important;
}

.pasdanger {
    background-color: var(--lightBlueMunsell)!important;
}

.compte {
    font-weight: bold;
}

.btn-primary {
    background-color: var(--darkBlueMunsell)!important;
}

.accordion-button {
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
}

.accordion-button:not(.collapsed) {
    color: black!important;
}