.searchnavbar {
    display: flex!important;
    justify-content: space-around!important;
    align-items: center!important;
    background-color: rgb(201, 201, 201)!important;
    border: 2px solid black;
    border-radius: 10px ;
    padding: 1%;
}

form {
    width: 98%!important;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.form-floating {
    margin: 0% 2% 0% 0%!important;
}


input {
    padding: 15% 0% 0% 0%!important;
    width: fit-content;
    height: auto;
}